<?xml version="1.0" encoding="utf-8" ?>
<Lucky>
  <!--抽奖池名单-->
  <Users>安磊,操金松,曹茗茗,柴帅,陈建垚,陈金磊,陈瑞红,陈松,陈英男,陈宇轩,程宏民,崔志鹏,邓雅君,丁杰,丁利辉,董贵良,董健,董培泉,杜硕,范红俊,冯烁昕,高虹,高嫣,高占昊,龚联,关志刚,郭威宏,郭伟,韩聪聪,韩杰,韩瑞衡,韩硕琦,韩燚,郝刚,郝婷,郝玉娟,侯宁,侯思宇,胡静,胡天木,黄宇,季宏武,姜源,金璇,李超,李瑾,李京阳,李君,李民,李秋伶,李思琪,李涛,李小红,李岩,李颖达,林一唯,林周宝,刘春鹏,刘华,刘琼,刘晓婷,刘艳,娄海涛,楼东云,卢笛,卢星元,芦毅,鲁明,鲁啸山,陆铭伟,马晓亚,马延,毛瑶琴,穆媛,牛怡,漆海,齐欢,齐煜,邱爽,任韧,桑达威,沈别特,施海燕,石岩,史云,宋世民,苏莹,孙东东,孙浩,孙蕾,孙涛,孙晓云,陶瑞,田璞,田勇征,王斌,王浩,王林,王全来,王桐伟,王欣征,王艳红,王一纯,王智苑,王中雄,温芳,武曼琳斯,肖南南,邢涛,徐姗姗,许佳炜,许嘉文,许昱,薛笙,闫蕾,燕丽娜,杨超,杨春,杨侃,杨露,杨熙,杨晓月,杨永,杨宇洲,尹航,余文涛,岳晓月,臧朝辉,张川,张金亮,张晋然,张菁菁,张伶,张美霞,张梦,张宁,张思悌,张维,张文宇（招采）,张文宇（望京）,张晓丽,张欣,张颖,张震,章国鹏,赵晨嘉,赵名芳,郑鹏,郑雅婷,钟珊,周冬文,周笑舟,朱若宁,朱雅欣,左京雪</Users>

  <!--奖项设置-->
  <Levels>
    <!--奖项设置明细：Number：奖项级别，MaxNumber：可获奖人数，PerSelect：每次选取人数-->
    <Level Number="1" Name="一等奖" MaxNumber="25" PerSelect="5"></Level>
    <Level Number="2" Name="二等奖" MaxNumber="35" PerSelect="5"></Level>
    <Level Number="3" Name="三等奖" MaxNumber="51" PerSelect="5"></Level>
  </Levels>

  <!--已经抽取的奖项结果，此节点由程序自动设置-->
  <PickResults>
    
  </PickResults>

  <!--
  当前设置的背景图名称
  将使用的背景图放到程序目录的\Images\Background下，启动程序，通过主窗口底部的背景图选择控件进行设置
  -->
  <BackgroundImage>back01.jpg</BackgroundImage>
  <!--背景图的透明度，0-1之间的小数，0为全透明，1为不透明-->
  <BackgroundOpacity>0.8</BackgroundOpacity>

  <!--抽奖按钮文字，如果不设置，默认是“开始”-->
  <PickButtonText>开奖</PickButtonText>
</Lucky>
